.button {
    -fx-background-color: #e8d58c;
    -fx-border-color:  #e8d58c;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-font-family: Gotham;
    -fx-font-size: 16px;
}

.button:pressed:hover {
    -fx-background-color: #fff;
}

.button:hover {
    -fx-background-color: #cdbb7c;
    -fx-border-color: #cdbb7c;
}

.menuButton {
    -fx-background-color: #e8d58c;
    -fx-border-color: #fff;
    -fx-font-size: 13px;

}

.menuButton:hover {
    -fx-background-radius: 6;
    -fx-background-color: #fff;
    -fx-border-color:  #e8d58c;
    -fx-transition: 0.7s;
}

.menuButton:focused {
    -fx-background-radius: 6;
    -fx-background-color: #fff;
    -fx-border-color:  #e8d58c;
}

.selected {
    -fx-background-radius: 6;
    -fx-background-color: #fff;
    -fx-border-color:  #e8d58c;
}
/*.menuButton:selected {*/
/*    -fx-background-radius: 6;*/
/*    -fx-background-color: #fff;*/
/*    -fx-border-color:  #e8d58c;*/
/*}*/

.mainButton {
    -fx-background-color: #e8d58c;
    -fx-text-fill: black;
    -fx-font-size: 24px;
    -fx-font-family: Kharkiv;
    -fx-background-radius: 30px;
    -fx-border-radius: 30;
}

.mainButton:hover {
    -fx-background-color: #e8d58c;
    -fx-border-color: #e8d58c;
}

.mainButton:pressed:hover {
    -fx-background-color: #e8d58c;
}

.loginButton {
    -fx-text-fill: black;
    -fx-font-family: Gotham;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-color: #e8d58c;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}

.loginButton:pressed:hover {
    -fx-text-fill:  #e8d58c;
    -fx-font-family: Gotham;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-color:  #e8d58c;
}

.loginButton:hover {
    -fx-text-fill:  black;
    -fx-font-family: Gotham;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-color: #cdbb7c;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-color:  #cdbb7c;
}

.workWithStudButton {
        -fx-background-color: #e8d58c; /* Колір фону ComboBox */
        -fx-border-color: black; /* Рамка */
        -fx-border-width: 1px; /* Товщина рамки */
        -fx-border-radius: 5px; /* Заокруглення країв */
        -fx-background-radius: 5px; /* Заокруглення фону */
        -fx-font-family: Gotham;
        -fx-font-size: 14px;
        -fx-text-fill: black;
        -fx-padding: 5px; /* Відступи */
}

.toggle-button {
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-font-family: Gotham;
    -fx-background-color: #e8d58c;
    -fx-border-color: #fff;
    -fx-font-size: 13px;

}

.toggle-button:selected {
    -fx-background-radius: 6;
    -fx-background-color: #fff;
    -fx-border-color:  #e8d58c;

}

.toggle-button:hover {
    -fx-background-radius: 6;
    -fx-background-color: #fff;
    -fx-border-color:  #e8d58c;
    -fx-transition: 0.7s;
}

.custom-radio {
    -fx-background-color: white;
    -fx-border-color: #e8d58c;
    -fx-border-radius: 15;

}

.custom-radio .radio {
    -fx-background-color: white;
    -fx-border-color: #e8d58c;
    -fx-border-radius: 50%;
}

.custom-radio:selected .radio {
    -fx-background-color: #e8d58c;
}
