.combo-box {
    -fx-background-color: #e8d58c; /* Колір фону ComboBox */
    -fx-border-color: black; /* Рамка */
    -fx-border-width: 1px; /* Товщина рамки */
    -fx-border-radius: 5px; /* Заокруглення країв */
    -fx-background-radius: 5px; /* Заокруглення фону */
    -fx-font-family: Gotham;
    -fx-font-size: 14px;
    -fx-padding: 5px; /* Відступи */
}

.combo-box .arrow-button {
    -fx-background-color: #e8d58c; /* Колір стрілки */
}

.combo-box .arrow {
    -fx-background-color: black; /* Колір самої стрілки */
}

.combo-box .popup {
    -fx-background-color: white; /* Білий фон для випадаючого списку */
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.combo-box .list-cell {
    -fx-text-fill: black; /* Колір тексту елементів */
    -fx-padding: 10px;
}

/* Змінити фон елементів тільки під час відкриття списку */


.combo-box .list-cell:hover {
    -fx-background-color: #d4c08e; /* Колір при наведенні */
}
