.font {
    -fx-font-family: Gotham;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.iconFont {
    -fx-font-family: Gotham;
    -fx-font-size: 24px;

}


.mainFont {
    -fx-font-family: Gotham;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.littleFont {
    -fx-font-family: Gotham;
    -fx-font-size: 18px;
    -fx-font-weight: regular;
}